{% extends "base.html" %}

{% block title %} sign-up page {% endblock %}

{%block content%}

    <form method = "post">
        
        <h3 align = "center"> SIGN IN </h3>

        <div class="mb-3">
            
            <label for="username" class="form-label"> Username </label>
            
            <input 
            type="text"
            name = "username" 
            class="form-control" 
            id="username">
        
        </div>

        <div class="mb-3">
            
            <label for="email" class="form-label"> Email address </label>
            
            <input 
            type="email"
            name = "email" 
            class="form-control" 
            id="email">
        
        </div>
            
        <div class="mb-3">
            
            <label for="password1" class="form-label"> Password </label>
            
            <input 
            type="password"
            name = "password1" 
            class="form-control" 
            id="password1">
        
        </div>

        <div class="mb-3">
            
            <label for="password2" class="form-label"> Confirm Password </label>
            
            <input 
            type="password"
            name = "password2" 
            class="form-control" 
            id="password2">
        
        </div>

        <div class = "d-grid gap-2 d-md-block">
            <button type = "submit" class = "btn btn-outline-primary"> submit </button>
        </div>

    </form>

{%endblock%}